include meta

block title

link(rel="shortcut icon", type="image/x-icon", href=url_for(theme.favicon))
link(rel="apple-touch-icon", href=url_for(theme.appleicon))

//- canonical url https://support.google.com/webmasters/answer/139066
link(rel="canonical", href=url_for(url.replace(/index\.html/,'')))

//- theme style
link(rel="stylesheet", href=url_for("css/styles.css"))

include ../mixins/analytics
if theme.baidu_analytics && !env.debug
  //- baidu analytics
  +baidu_analytics()

if theme.google_analytics && !env.debug
  //- google analytics
  +google_analytics()

+facebook()
+twitter()
